body {
	font-family: 'Sofia';font-size: 22px;
    
    background-color: black;

}

h1 {
	text-align: center;
	font-family: 'Sofia'; 
	font-size: 30px;
	color: silver;

}

.game-div {
	text-align: center;
	width: 50%;
	margin: 5% auto;
	color: black;
	background-color: gray;
	background-image: url("assets/images/friends.jpeg") 

}

li {
	list-style: none;
}

button {
	text-align: center;
}


#showCountDown {
	height: 25px;
	display: block;
	text-align: center;
}

#triviaQuestion {
	margin-bottom: 20px;
}

h3 {
	text-align: center;
	color: ;
}